<?xml version="1.0"?>
<launch>
	<!-- LLSF Interface -->
	<include file="$(find rcll_status_board)/launch/comm.launch"/>

	<!-- Field Status Board -->
	<include file="$(find rcll_status_board)/launch/field.launch"/>

	<!-- Team Status Board Cyan -->
	<include file="$(find rcll_status_board)/launch/cyan.launch"/>

	<!-- Team Status Board Magenta -->
	<include file="$(find rcll_status_board)/launch/magenta.launch"/>
</launch>
