<?xml version="1.0"?>
<launch>
	<!-- Field Status Board -->
	<node pkg="rcll_status_board" type="llsf_interface_node" name="llsf_interface" output="screen" >
		<param name="remote" value="false" />
		<param name="refbox_host" value="localhost" />
		<param name="refbox_port_public_recv" value="4444" />
	</node>
</launch>
